.footer {
    height: 315px;
    background-color: rgba(0, 0, 0, 1);
    
    &--content {
        text-align: center;
        margin: 8px 35px;
        color: rgba(185, 185, 185, 1);
        font-size: 12px;
        line-height: 20px;
    }
    &--logos {
        display: flex;
        justify-content: center;
        padding: 25px 0;
        margin: 0 auto;
    }

    &--contacts {
        text-align: center;
        color: rgba(185, 185, 185, 1);
        font-size: 14px;
        line-height: 24px;
    }

    &--hidden-content {
        display: none;
    }
}

.footer-logo {
    padding-right: 5px;
}

    .footer-title {
        display: flex;
        justify-content: center;
        padding-top: 38px;
        color: rgba(254, 254, 254, 1);
    }
    

@media (min-width: 768px) {
    .footer--contacts {
        display: flex;
        justify-content: center;
    }

    .footer--content {
        text-align: center;
        margin: 22px 120px 0;
    }

    .footer--hidden-content {
        display: contents;
        color: rgba(185, 185, 185, 1);
        font-size: 12px;
        line-height: 20px;
    }
}

@media (min-width: 1200px) {
    .footer {
        width: 100%;
    }
}