.header {
    @include cover-display;
    align-items: flex-end;
    margin: 23px 28px 38px 25px; 
}

.header__menu-btn {
    position: relative;
    width: 44px;
    height: 37px;
    background-color: black;
    border: none;
}

.close-icon-wrapper {
    position: absolute;
    top: 10px;
    left: 7px;
    text-align: center;
    width: 30px;
    height: 25px;
    background-color: black;

    &--disabled {
        display: none;
    }
}

.icon-color {
    color: white;
    font-size: 17px;    
}

.header__navbar {
    display: none;
    background-color: rgba(245, 245, 245, 1);
    width: 182px;
    margin-top: 37px;
}

.header__navbar--isActive {
    @include cover-display;
    position: absolute;
}

.header-link {
    text-decoration: none;
}

.navbar-titles {
    padding: 8px 0 8px 13px;
    font-size: 11px;
    line-height: 22px;
    text-transform: uppercase;
    height: 30px;
    color: $basic-color;
}

.navbar-titles:hover {
    color: rgba(87, 164, 164, 1);
    background-color: rgba(229, 229, 229, 1);
}

.header__img {
    margin-top: 23px;
    width: 100%;
}

@media (min-width: 768px) {
    
    .header__menu-btn {
        display: none;
    }

    .header {
        align-items: center;
    }

    .header__navbar {
        display: flex;
        flex-direction: row;
        background-color: $main-background;
        width: 610px;
        margin-top: 41px;
    }

    .navbar-titles {
        padding-left: 34px;
    }

    .navbar-titles:hover {
        color: rgba(87, 164, 164, 1);
        background-color: $main-background;
    }

}

@media (min-width: 1200px) {

    .header__img {
        margin: 0 auto;
        padding: 50px 18% 0;
    }

}