
.recent-posts {
    margin-left: 25px;
    margin-bottom: 40px;
}

.posts-title {
    color: $basic-color;
}

.post--hidden {
    display: none;
}

.post__img {
    margin-top: 28.5px;
}

.post__title {
    font-size: 14px;
    line-height: 30px;
    color: $basic-color;
    margin-top: 11px;
}

.post__comments {
    font-size: 11px;
    line-height: 20px;
    color: $comments-color;
}

.post__content {
    display: none;
}

@media (min-width: 768px) {
    .post, .post--hidden{
        display: flex;
        flex-direction: row;
    }

    .posts-container {
        @include cover-display;
    }

    .post__content{
        display: block;
    }

    .post__content {
        color: $content-color;
        font-size: 14px;
        line-height: 26px;
    }

    .content-conteiner {
        @include cover-display;
        align-items: flex-start;
        justify-content: center;
        padding-left: 20px;
    }
}

@media (min-width: 1200px) {
    .recent-posts {
        margin-bottom: 65px;
    }

    .posts-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 0 18%;
    }

    .post {
        width: 50%;
    }
}