.btn {
  border: none;
  outline: none;
  border-radius: 20px;
  height: 40px;
  padding: 0 10px;
  font-size: 18px;
  font-weight: bold;
  margin: 20px 20px;
}

.modal-btn {
  color: white;
  height: 30px;
  border-radius: 4px;
  height: 40px;
  width: 80px;
}