.header {
    background-color: rgb(167, 136, 89);
    color: rgb(53, 53, 53);
    font-size: 30px;
    font-weight: bold;
    padding: 0 30px;
  }

  .navbar {
    display: flex;
  }

  .navbarLink {
    text-decoration: none;
    color: rgb(57, 57, 57);

    &.active::after {
      content: '';
      display: block;
      width: 100%;
      background-color: white;
      height: 3px;
      margin-top: 2px;
    }
  }

  .navbarItems {
    font-size: 20px;
    margin: 0 7.5px ;
  }

  .inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

  }
   
  .logo {
    display: block;
    text-decoration: none;
    height: 50px;
    width: 50px;
    img {
      max-width: 100%;
    }
  }