.modal {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;

    &Content {
        position: relative;
        height: 300px;
        overflow: auto;
        width: 600px;
        font-size: 18px;
        background-color: rgb(233, 68, 68);
        text-align: center;
        color: white;
    }

    &Body {
        padding: 30px;
    }

    &Header{
        display: flex;
        text-align: left;
        padding-left: 20px;
        font-size: 30px;
        font-weight: bold;
        height: 90px;
        background-color: rgb(233, 43, 43);
        color: white;
    }

    .closeBtn {
        position: absolute;
        top: 20px;
        right: 20px;
        background-color: rgb(233, 43, 43);
        border: none;
        color: white;
        font-size: 30px;
    }    
}

