.productCard {
    width: 300px;
    height: 350px;

    &Info{
    font-size: 15px;
    margin: 10px;
    }

    &Title{
    
    }
    
    &Price{
        font-weight: bold;
    }

    .image {
    height: 60%;
        img {
            max-width: 100%;
            }
    }

    &Btns {
        margin-left: 10px;
    }
}

.addToCartBtn {
    margin-right: 20px;
    color: rgb(85, 84, 84);
    font-size: 30px;
    border: 1px solid rgb(85, 84, 84);
    border-radius: 4px;
    

}
