.header {
  display: flex;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: rgb(167, 136, 89);
  color: rgb(53, 53, 53);
  font-size: 30px;
  font-weight: bold;
  padding-left: 30px;
  

}

.btn {
  border: none;
  outline: none;
  border-radius: 20px;
  height: 40px;
  padding: 0 10px;
  font-size: 18px;
  font-weight: bold;
  margin: 20px 20px;
}

.modal-btn {
  color: white;
  height: 30px;

}

.productListContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
}

.product {
  list-style-type: none;
  margin: 10px;
  background-color: white;
}