.cartItem {
    display: flex;
    justify-content: left;
    align-items: center;
    box-sizing: border-box;
    

 &Img{
     display: flex;
     justify-content: center;
     align-items: center;
     width: 200px;
     height: 200px;
    img {
        max-width: 100%;
    }
 }
 &Title {
     max-width: 35%;
     margin-right: 20px;
     color: rgb(53, 53, 53);
     font-weight: bold;
 }

 &Counter {
    margin-right: 10px;
 }

 &CounterNumber {
    width: 5ch;
    padding: 0 3px;
 }
 &CounterButton, &TrashIcon {
    outline: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
 }
 &Price {
     font-size: 18px;
     margin-right: 10px;
     text-decoration: underline;
 }

}

.modalBtn {
    margin-right: 20px;
    color: rgb(85, 84, 84);
    font-size: 30px;
    border: 1px solid rgb(85, 84, 84);
    border-radius: 4px;
}