@import "./reset";
@import "./mixines";
@import "./variables";
@import "./sections/header";
@import "./sections/posts";
@import "./sections/footer";



body {
    min-width: 320px;
    margin: 0 auto;
    font-family: $basic-font;
}

.section-title {
    text-transform: uppercase;
    font-size: 14px;
    line-height: 22px;
}


@media (min-width: 768px) {
    body {
        min-width: 768px;
    }
}


@media (min-width: 1200px) {
    body {
        min-width: 1200px;
    }

    .section-title {
        padding: 65px 18% 0;
    }

}