.btn {
  border: none;
  outline: none;
  border-radius: 20px;
  height: 40px;
  padding: 0 10px;
  font-size: 18px;
  font-weight: bold;
  margin: 20px 20px;
}

.modal-btn {
  color: white;
  height: 30px;

}

.product-list-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

.product-list-container--cart {
  width: 100%;
}

.product {
  list-style-type: none;
  margin: 10px;
  background-color: white;
  border-radius: 7px;
}

.product--cart {
  width: 100%;
}

.empty-folder {
  display: flex;
  justify-content: center;
  justify-items: center;
  color: rgb(85, 84, 84);
  font-size: 30px;
  font-weight: bold;
  padding-top: 100px;
}

.cart-content {
  display: grid;
  grid-template-columns: 75% 25%;
  column-gap: 30px;
}

.cart-total-container {
  display: flex;
  justify-content: center;

}

.cart-total {
  background-color: white;
  border-radius: 20px;
  padding: 16px;
  box-sizing: border-box;
  margin-top: 20px;
  width: 250px;
  height: 230px;
}

.cart-total-text {
  font-size: 25px;
  font-weight: bold;
}